<div>
    <table>
        <thead>
        <th colspan="3"> Edit/Delete vBridges of {{vtnObject.vtn_name}} </th>
        </thead>
        <thead>
        <th> Name </th>
        <th> Description </th>
        <th> Options </th>
        </thead>
        <tbody>
        <tr ng-repeat="brg in brgs">
            <td> {{brg.vbr_name}} </td>
            <td> {{brg.description}} </td>
            <td>
                <input type="button" ng-click="updvBr(option.vtn, brg)" value="Edit">
                <input type="button" ng-click="delvBr(option.vtn, brg)" value="Delete">
            </td>
        </tr>
        </tbody>
    </table>

    <div align="center">
    <input type="button" ng-click="subView='vbradd.html'" value="Add New">
    </div><br><br>

    <div align="center">
        <ng-include src="subView"></ng-include>
    </div><br><br>

</div>
