<div>
    <table>
        <thead>
        <th colspan="3"> Edit/Delete Domains of {{option.ctrl}} </th>
        </thead>
        <thead>
        <th> Id </th>
        <th> Description </th>
        <th> Options </th>
        </thead>
        <tbody>
        <tr ng-repeat="dom in doms">
            <td> {{dom.domain_id}} </td>
            <td> {{dom.description}} </td>
            <td>
                <input type="button" ng-click="updDom(option.ctl, dom)" value="Edit">
                <input type="button" ng-click="delDom(option.ctl, dom)" value="Delete">
            </td>
        </tr>
        </tbody>
    </table>

    <div align="center">
    <input type="button" ng-click="subView='domadd.html'" value="Add New">
    </div><br><br>

    <div align="center">
        <ng-include src="subView"></ng-include>
    </div><br><br>

</div>